# Ignora i metadati di Git
.git
.gitignore

# Ignora i log e gli output generati localmente
**/output_csv
**/output_logs
**/output_screenshots

# Ignora le dipendenze di Node.js (vanno installate nel container)
**/node_modules

# Ignora gli artefatti di build di Angular/Node
dist
*.log
npm-debug.log*

# Ignora gli artefatti di build di Maven (se presenti)
**/target

# Ignora i file di configurazione degli IDE
.vscode
.idea
*.suo
*.user

# Ignora i file specifici del sistema operativo
Thumbs.db
.DS_Store
*.iml