<div class="form-container" x-test-tpl-div-1>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" x-test-hook-form-2>
    
    <div class="form-group" x-test-hook-div-3>
      <label for="name" x-test-hook-label-4>Nome:</label>
      <input type="text" id="name" formControlName="name" required x-test-hook-input-5>
      
      <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="error-message">
        Il nome è obbligatorio.
      </div>
    </div>

    <div class="form-group" x-test-hook-div-6>
      <label for="email" x-test-hook-label-7>Email:</label>
      <input type="email" id="email" formControlName="email" required x-test-hook-input-8>

      <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors" class="error-message">
        <span *ngIf="contactForm.get('email')?.errors?.['required']">L'email è obbligatoria.</span>
        <span *ngIf="contactForm.get('email')?.errors?.['email']">Inserisci un formato email valido.</span>
      </div>
    </div>

    <button type="submit" [disabled]="contactForm.invalid" x-test-hook-button-9>Invia Messaggio</button>
  </form>
</div>
<div x-test-tpl-div-11></div>