<section class="bg-[#eef1f5] flex-grow flex flex-col relative" x-test-tpl-section-1>
  <div class="flex flex-col items-center justify-center px-6 pt-8 pb-24 mx-auto flex-grow w-full" x-test-hook-div-2>
    <div class="w-full bg-white rounded-lg shadow border border-[#d1d9e0] md:mt-0 sm:max-w-md xl:p-0" x-test-hook-div-3>
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8" x-test-hook-div-4>
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-800 md:text-2xl" x-test-hook-h1-5>
            Crea un nuovo account
        </h1>
        <form data-testid="signup-form" id="signup-form" class="space-y-4 md:space-y-6" [formGroup]="signupForm" (ngSubmit)="handleSignup()" x-test-hook-form-6>
          <div x-test-hook-div-7>
            <label for="user" class="block mb-2 text-sm font-medium text-gray-700" x-test-hook-label-8>Username</label>
            <input type="text" formControlName="user" id="user" data-testid="signup-username-input" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-1 focus:ring-[#D97706] focus:border-[#D97706] block w-full p-2.5" required="" x-test-hook-input-9>
            @if (signupForm.get('user')?.invalid && (signupForm.get('user')?.dirty || signupForm.get('user')?.touched)) {
              <div class="mt-1 form-error text-sm text-red-600" x-test-hook-div-10>
                @if (signupForm.get('user')?.hasError('required')) {
                  <p x-test-hook-p-11>L'username è obbligatorio.</p>
                }
                @if (signupForm.get('user')?.hasError('minlength')) {
                  <p x-test-hook-p-12>L'username deve contenere almeno 3 caratteri.</p>
                }
                @if (signupForm.get('user')?.hasError('maxlength')) {
                  <p x-test-hook-p-13>L'username non può superare i 10 caratteri.</p>
                }
                @if (signupForm.get('user')?.hasError('whitespace')) {
                    <p x-test-hook-p-14>Non si possono inserire solo spazi vuoti.</p>
                }
              </div>
            }
          </div>
          <div x-test-hook-div-15>
            <label for="pass" class="block mb-2 text-sm font-medium text-gray-700" x-test-hook-label-16>Password</label>
            <input type="password" formControlName="pass" id="pass" data-testid="signup-password-input" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-1 focus:ring-[#D97706] focus:border-[#D97706] block w-full p-2.5" required="" x-test-hook-input-17>
            @if (signupForm.get('pass')?.invalid && (signupForm.get('pass')?.dirty || signupForm.get('pass')?.touched)) {
              <div class="mt-1 form-error text-sm text-red-600" x-test-hook-div-18>
                @if (signupForm.get('pass')?.hasError('required')) {
                  <p x-test-hook-p-19>La password è obbligatoria.</p>
                }
                @if (signupForm.get('pass')?.hasError('minlength')) {
                  <p x-test-hook-p-20>La password deve contenere almeno 8 caratteri.</p>
                }
                @if (signupForm.get('pass')?.hasError('missingUppercase')) {
                  <p x-test-hook-p-21>La password deve contenere almeno una lettera maiuscola.</p>
                }
                @if (signupForm.get('pass')?.hasError('missingNumber')) {
                  <p x-test-hook-p-22>La password deve contenere almeno un numero.</p>
                }
                @if (signupForm.get('pass')?.hasError('pattern')) {
                  <p x-test-hook-p-23>La password deve contenere almeno 8 caratteri, una maiuscola e un numero.</p>
                }
                @if (signupForm.get('pass')?.hasError('whitespace')) {
                    <p x-test-hook-p-24>Non si possono inserire solo spazi vuoti.</p>
                }
              </div>
            }
          </div>
          <button data-testid="signup-submit-button" id="button-registrati" type="submit" [disabled]="signupForm.invalid" class="w-full text-white bg-[#D97706] hover:bg-[#B45309] focus:outline-none focus:ring-2 focus:ring-[#B45309] focus:ring-offset-2 focus:ring-offset-white rounded-lg text-sm px-5 py-2.5 text-center disabled:opacity-50 disabled:cursor-not-allowed" x-test-hook-button-25>Registrati</button>
          <p class="text-sm font-medium text-gray-500" x-test-hook-p-26>
            Hai già un account? <a routerLink="/login" class="font-medium text-[#4EA8DE] hover:underline" x-test-hook-a-27>Effettua l'accesso</a>
          </p>
        </form>
      </div>
    </div>
  </div>

  <div class="absolute bottom-0 left-0 p-4 sm:p-6 md:p-8" x-test-hook-div-28>
    <button type="button" (click)="navigateToHome()"
            class="bg-[#D97706] hover:bg-[#B45309] text-white font-semibold text-base py-2 px-6 rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-[#B45309] focus:ring-offset-2 focus:ring-offset-[#eef1f5] transition duration-150 ease-in-out" x-test-hook-button-29>
      Torna alla Home
    </button>
  </div>

</section>