@use 'tailwindcss';
@use 'ngx-toastr/toastr';

@tailwind base;
@tailwind components;
@tailwind utilities;

.toast-success {
  background-color: #0fc396;
}
.toast-error {
  background-color: #BD362F;
}
.toast-info {
  background-color: #2F96B4;
}
.toast-warning {
  background-color: #F89406;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased; // Migliora il rendering del testo
  -moz-osx-font-smoothing: grayscale; // Migliora il rendering del testo
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
